@import url("https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Outfit:wght@900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Outfit:wght@900&family=Young+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
   background-color: hsl(30, 38%, 92%);
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
}

  .mobile-image {
display:none;
  }

  .mobile-title {
display:none;

}

.desktop-title{
    font-family: "Fraunces", serif;
}
  /* .desktop-image {

    /* display:contents ;
    width: 100%;
    height: auto;
    background-size: cover;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; 
  } */

  img{
    width: 100%;
    /* padding: no; */
    height:auto ;
    background-size: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

  .wrapper {
    width:700px;
    background-color: hsl(0, 0%, 100%) ;
    display:flex ;
    flex-direction: row;
    /* margin: rem; */
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 1rem 3rem 3rem 3rem
  }


.card-image{
  display: flex;
  flex-direction: column;
  background-size: cover;
   border-bottom-left-radius: 12px
}


  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
   
  }

  
.Product-desktop-category{
 display: contents; 
text-transform: uppercase;
color: hsl(228, 12%, 48%);
letter-spacing: 3px;
font-family: "Fira Code", monospace;
font-size: 20px; 

}
.Product-mobile-category{
display: none;
}
.price-content {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   font-family: "Fraunces", serif;

  }

.old-price {
  color: hsl(228, 12%, 48%);
  font-size: 20px;
  text-decoration: line-through;
  font-size: 13px;
  font-family: "Fraunces", serif;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-size: 25px;
  font-family: "Fraunces", serif;
}

button {
  background-color: hsl(158, 36%, 37%);
  margin: 2rem;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  width: 15rem;
  height: 3rem;
  font-size: 15px;
  font-weight: bolder;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btn-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
}

.cart {
  width: 25px;
  height: 25px;
}

.product-desktop-description {
  display:contents;
  /* display: flex; */
  /* flex-direction: column; */
  color: hsl(228, 12%, 48%);
  font-size: 18px;
  font-family: "Young Serif", serif;
  font-style: normal;
  line-height: 1.5;
  /* padding: 1rem; */
}
.product-mobile-description {
display: none;

}
.mobile-title {
  display: none;
  
}

.desktop-title {
  display: contents;
  font-size: 30px;
  font-family: "Fraunces", serif;
}


.attribution {
  margin-top: 2rem;
}

/* MEDIA QUERIES FOR MOBILE SCREEN */
@media screen and (max-width: 768px) {

.mobile-image {
display: contents;
border-top-left-radius: 10px;
border-bottom-left-radius:0 ;
border-bottom-right-radius: 0;
border-top-right-radius: 10px;
background-size: cover;
width: 100%;

  }

  .desktop-image {
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0;
    border-top-right-radius: 10px;
    background-size: cover;
  }

   .card-content {
     width: 250px;
     padding-left: 10px;
     gap: 1rem;
   }
   .card-image {
     width: 100%;

   }
    .wrapper {
    /* width:300px; */
    margin: 1rem;
    padding: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:0;
  }

  .old-price {
  color: hsl(228, 12%, 48%);
  /* font-size: 15px; */
  text-decoration: line-through;
  font-size: 9px;
}
.new-price {
  color: hsl(158, 36%, 37%);
  font-size: 18px;
}

button {
  background-color: hsl(158, 36%, 37%);
  margin: 1rem;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  width: 12rem;
  height: 2rem;
  font-size: 7px;
  font-weight: bolder;
  transition-duration: 0.5s;
  cursor: pointer;
}
.btn-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-size: 10px;
}

.product-desktop-description{
  display: contents;
  /* justify-content: column; */
  color: hsl(228, 12%, 48%);
  font-size: 13px;
  padding-right: 2rem;
  font-family: "Young Serif", serif;
  font-style: normal;
  line-height: 1.8;
}

.product-mobile-description {
  display: none;
}


img {
    border-top-left-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0;
    border-top-right-radius: 10px;

}


.Product-mobile-category{
display: contents;
text-transform: uppercase;
color: hsl(228, 12%, 48%);
letter-spacing: 2px;
font-family: "Fira Code", monospace;
font-size: 12px;
}

.Product-desktop-category {
  display: none;
}

}
